<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                padding: 20px;
            }

            h1 {
                border-bottom: 2px solid black;
            }
        </style>
    </head>
    <body>
            <h1>Papero demo documents</h1>
            <div><a href="tulldeklaration.html">Tulldeklaration</a></div>
            <h2>Nunjuck templates</h2>
            <div><a href="tulldeklaration-with-data.html">Tulldeklaration-with-data</a></div>
    </div>
</html>